header{
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 45px;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to right ,#fcf3b9, #fbca9a);
    min-height:100vh;
    box-sizing: border-box;
}

h2 {
    font-size: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-left: 90px;
}

button {
    font-size: 16px;
    background-color: #fcb274;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}

button:hover {
    background-color: #ffffff;
    color: grey;
}

.box {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.list {
    background-color: #fcf3b9;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
    color: #333;
    text-decoration: none;
    flex-grow: 1;
    padding-left: 10px;
}

.text:hover {
    text-decoration: underline;
}

.svg {
    flex-shrink: 0;
    margin-right: 10px;
    fill: #333;
}

.del {
    border: none;
    background: none;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    button {
        width: 100%;
    }
}