body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, #ffffff, grey);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-form button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: grey;
    color: #fff;
    border: none;
    cursor: pointer;
}

.register-form h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: azure;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: grey;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #333;
}

.register-form button:hover {
    background-color: darkgray;
}

@media (max-width: 480px) {
    .register-form {
        width: 80%;
    }
}


