<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Note</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/notes.css')}}">
</head>
<body>
    <h2>Add Note</h2>

    <form class="addform" action="{{ url_for('create_notes') }}" method="POST">
        <label for="note_title">Title:</label>
        <input type="text" id="note_title" name="note_title" required>

        <label for="note_content">Content:</label>
        <textarea id="note_content" name="note_content" rows="4" cols="50" required></textarea>

        <input type="submit" value="Add Note">
        <input type="cancel" value="Cancel" onclick="window.location.href='/note'">
    </form>
   </body>
 </html>
