<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/task.css')}}">
</head>
<body>
    <h2>Create a New Task</h2>
    <form class="addform" action="/create_task" method="POST">
        <label for="task_name">Task Name:</label>
        <input type="text" id="task_name" name="task_name" required>
        <br>
        <label for="task_description">Task Description:</label>
        <textarea id="task_description" name="task_description" required></textarea>
        <br>
        <label for="task_date">Task Deadline:</label>
        <input type="datetime-local" id="task_date" name="task_date" required>
        <br>
        <label for="status">Status:</label>
        <select name="status">
            <option value="pending">Pending</option>
            <option value="in-progress">In Progress</option>
            <option value="completed">Completed</option>
        </select>
        <br>
        <button class="addtask" type="submit">Add Task</button>
    </form>
</body>
</html>