<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li style="float:right">
                    <a href="{{ url_for('homepage') }}">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M3 12L21 12M21 12L12.5 3.5M21 12L12.5 20.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Documents</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
    <ul class="box">
        {% for file in files %}
            <li class="list">
                <svg class="svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 2H6.8C5.11984 2 4.27976 2 3.63803 2.36396C3.07354 2.68342 2.68342 3.07354 2.36396 3.63803C2 4.27976 2 5.11984 2 6.8V17.2C2 18.8802 2 19.7202 2.36396 20.362C2.68342 20.9265 3.07354 21.3166 3.63803 21.636C4.27976 22 5.11984 22 6.8 22H17.2C18.8802 22 19.7202 22 20.362 21.636C20.9265 21.3166 21.3166 20.9265 21.636 20.362C22 19.7202 22 18.8802 22 17.2V10L14 2Z" stroke="#333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14 2V6.2C14 7.88016 14 8.72024 14.3639 9.36202C14.6834 9.92646 15.0735 10.3166 15.638 10.636C16.2798 11 17.1198 11 18.8 11H22" stroke="#333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a class="text" href="{{ url_for('uploaded_file', filename=file) }}">{{ file }}</a>
                <form  action="{{ url_for('delete_file') }}" method="post">
                    <input type="hidden" name="filename" value="{{ file }}">
                    <button class="del" type="submit">x</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>