<!DOCTYPE html>
<html>
<head>
    <title>Task Procrastination Rank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rank.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li style="float:right; list-style-type: none;">
                    <a href="{{ url_for('homepage') }}">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M3 12L21 12M21 12L12.5 3.5M21 12L12.5 20.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <h1>Task Procrastination Rank</h1>
    <table border="1">
        <tr>
            <th>Number</th>
            <th>Task Name</th>
            <th>Start Time</th>
            <th>Time Duration</th>
            <th>Task Description</th>
        </tr>
        {% for task, procrastination_level in tasks %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ task.task_name }}</td>
            <td>{{ task.task_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>{{ procrastination_level.days }} days, {{ procrastination_level.seconds // 3600 }} hours, {{ (procrastination_level.seconds // 60) % 60 }} minutes</td>
            <td>{{ task.task_description }}</td>
            
             
        </tr>
        {% endfor %}
    </table>
</body>
</html>